<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/Style_sheets/Categories/style.css">
</head>

<body>
    <center>
        <div class="head1">
            <h1 class="head1"> GRIEVANCE CATAGORY </h1>
            <a href="<%= URL%>/api/logout%>">Logout</a>
        </div>
        <marquee scrollamount="20" bgcolor="yellow" diriction="left" height="80px" width="80%" hspace="100px"
            vspace="100px">
            <h1> SELECT ANY ONE </h1>
        </marquee>
    </center>
    <div class="display">

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/academic.jpg" alt="">
            <div class="overlay">
                <h1>Academic</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/account.jpg" alt="">
            <div class="overlay">
                <h1>Account</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/attandence.jpg" alt="">
            <div class="overlay">
                <h1>Attendence</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/canteen.jpg" alt="">
            <div class="overlay">
                <h1>canteen</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/lybrary.jpg" alt="">
            <div class="overlay">
                <h1>lybrary</h1>
            </div>
        </a>

        <a class="cards" id="trnas_card" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/transportation.jpg" alt="">
            <div class="overlay">
                <h1>Transportation</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL%>/comp_faculty">
            <img src="/Assets/Categories/others.jpg" alt="">
            <div class="overlay">
                <h1>Others</h1>
            </div>
        </a>

    </div>
    </div>
</body>
<!-- <script type="module" src="/public/Scripts/GriveanceCatagory/fetching.mjs"></script>
<script type="module" src="/public/Scripts/GriveanceCatagory/script.mjs"></script> -->

</html>