<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/Style_sheets/Categories/style.css">
</head>

<body>
    <center>
        <div class="head1">
            <h1 class="head1"> grievence CATEGORY </h1>
            <a href="<%= URL %>/api/logout">Logout</a>
        </div>
        <marquee scrollamount="20" bgcolor="yellow" direction="left" height="80px" width="80%" hspace="100px"
            vspace="100px">
            <h1> <pre>SELECT   ANY  grievence i.e ACCOUNT/ACADEMIC/ATTENDANCE/CANTEEN/OTHER </pre></h1>
        </marquee>
    </center>
    <div class="display">

        <a class="cards" href="<%= URL %>/grievence/academic">
            <img src="/Assets/Categories/academic.jpg" alt="">
            <div class="overlay">
                <h1>Academic</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL %>/grievence/account">
            <img src="/Assets/Categories/account.jpg" alt="">
            <div class="overlay">
                <h1>Account</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL %>/grievence/attendance">
            <img src="/Assets/Categories/attendance.jpg" alt="">
            <div class="overlay">
                <h1>Attendance</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL %>/grievence/canteen">
            <img src="/Assets/Categories/canteen.jpg" alt="">
            <div class="overlay">
                <h1>Canteen</h1>
            </div>
        </a>
        
        <a class="cards" href="<%= URL %>/grievence/library">
            <img src="/Assets/Categories/library.jpg" alt="">
            <div class="overlay">
                <h1>Library</h1>
            </div>
        </a>

        <a class="cards" id="trans_card" href="<%= URL %>/grievence/transportation">
            <img src="/Assets/Categories/transportation.jpg" alt="">
            <div class="overlay">
                <h1>Transportation</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL %>/grievence/dicipline">
            <img src="/Assets/Categories/dicipline.jpg" alt="">
            <div class="overlay">
                <h1>Discipline </h1>
            </div>
        </a>        

        <a class="cards" href="<%= URL %>/grievence/messcard">
            <img src="/Assets/Categories/mess.jpg" alt="">
            <div class="overlay">
                <h1>Mess</h1>
            </div>
        </a>

        <a class="cards" href="<%= URL %>/grievence/other">
            <img src="/Assets/Categories/others.jpg" alt="">
            <div class="overlay">
                <h1>Others</h1>
            </div>
        </a>

    </div>
    </div>
</body>
<!-- <script type="module" src="/public/Scripts/grievenceCategory/fetching.mjs"></script>
<script type="module" src="/public/Scripts/grievenceCategory/script.mjs"></script> -->

</html>
