<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/Style_sheets/Profile/style.css">
</head>

<body>
    <div class="container">
        <div class="dp">
            <img src="<%= user.profilePic%>" alt="">
        </div>
        <div class="content">
            <div class="left">
                <div class="c1">
                    <span class="key">Name</span>
                    <span class="key">Contact</span>
                    <span class="key">Gmail</span>
                </div>
                <div class="c2">
                    <span class="value"> : <%= user.name%></span>
                    <span class="value"> : <%= user.contact%></span>
                    <span class="value"> : <%= user.eMail%></span>
                </div>
            </div>
            <div class="right">
                <div class="c1">
                    <span class="key">CRN</span>
                    <span class="key">Course</span>
                    <span class="key">Branch</span>
                </div>
                <div class="c2">
                    <span class="value"> : <%= user.crn%></span>
                    <span class="value"> : <%= user.course%></span>
                    <span class="value"> : <%= user.branch%></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>